set interfaces loopback lo

{# Generate bonds #}
{% for bond in settings.bonds %}
  {% set name = "bond"~loop.index0 %}
  set interfaces bonding {{ name }} hash-policy '{{ bond.hash }}'

  {% for interface in bond.interfaces %}
    set interfaces bonding {{ name }} member interface '{{ interface }}'
    {% if interface.startswith("eth") %}
      set interfaces ethernet {{ interface }} description 'Member of {{ name }}'
    {% endif %}
  {% endfor %}
{% endfor %}

{# Generate bridges #}
{% for bridge in settings.bridges %}
  {% set name = "br"~loop.index0 %}
  set interfaces bridge {{ name }} stp

  {% if bridge.vlan %}
    set interfaces bridge {{ name }} enable-vlan
  {% endif %}

  {% for interface in bridge.interfaces %}
    {% if interface.name.startswith("eth") %}
      set interfaces ethernet {{ interface.name }} description 'Member of {{ name }}'
    {% endif %}

    {% if interface.trunk is not defined and interface.access is not defined%}
      set interfaces bridge {{ name }} member interface '{{ interface.name }}'
    {% endif %}

    {% if interface.trunk is defined %}
      {% for trunk in interface.trunk %}
        set interfaces bridge {{ name }} member interface {{ interface.name }} allowed-vlan '{{ trunk }}'
      {% endfor %}
    {% endif %}

    {% if interface.access is defined %}
      set interfaces bridge {{ name }} member interface {{ interface.name }} native-vlan '{{ interface.access }}'
    {% endif %}
  {% endfor %}
{% endfor %}

{# Generate zone interfaces #}
{% for zoneName, zone in settings.zones.items() if zone.interface is defined %}
  {% if zone.interface.startswith("bond") %}
    {% set interfaceType = "bonding" %}
  {% elif zone.interface.startswith("br") %}
    {% set interfaceType = "bridge" %}
  {% elif zone.interface.startswith("wg") %}
    {% set interfaceType = "wireguard" %}
  {% else %}
    {% set interfaceType = "ethernet" %}
  {% endif %}

  {% if zone.vlan is not defined %}
    {# IPv4 #}
    set interfaces {{ interfaceType }} {{ zone.interface }} description '{{ zone.name }}'
    {% for address in zone.addresses %}
      set interfaces {{ interfaceType }} {{ zone.interface }} address '{{ address }}'
    {% endfor %}

    {# Wireguard #}
    {% if interfaceType == "wireguard" %}
      {# Server #}
      set interfaces {{ interfaceType }} {{ zone.interface }} port '{{ zone.port_enc }}'
      set interfaces {{ interfaceType }} {{ zone.interface }} private-key '{{ zone.psk_enc }}'

      {# Peers #}
      {% for peerName, peer in zone.peers.items() %}
          set interfaces {{ interfaceType }} {{ zone.interface }} peer {{ peerName }} public-key '{{ peer.publicKey }}'
          {% for ip in peer.ips %}
            set interfaces {{ interfaceType }} {{ zone.interface }} peer {{ peerName }} allowed-ips '{{ ip }}'
          {% endfor %}
      {% endfor %}
    {% endif %}
  {% else %}
    {% set path = zone.interface~" vif "~zone.vlan if zone.vlan > 0 else zone.interface %}
    {% set interface = zone.interface~"."~zone.vlan if zone.vlan > 0 else zone.interface %}
    {# IPv4 #}
    set interfaces {{ interfaceType }} {{ path }} description '{{ zone.name }}'
    set interfaces {{ interfaceType }} {{ path }} address '192.168.{{ zone.vlan }}.1/24'
    {# IPv6 from PD #}
    set interfaces ethernet {{ settings.zones.wan.interface }} dhcpv6-options pd 0 interface {{ interface }} address '1'
    set interfaces ethernet {{ settings.zones.wan.interface }} dhcpv6-options pd 0 interface {{ interface }} sla-id '{{ zone.vlan }}'
    {# IPv6 Local Link #}
    set interfaces {{ interfaceType }} {{ path }} ipv6 address no-default-link-local
    set interfaces {{ interfaceType }} {{ path }} address 'fe80::1/64'
    {# IPv6 ULA #}
    set interfaces {{ interfaceType }} {{ path }} address '{{ settings.ip.ulaPrefix }}:{{ zone.vlan }}::1/128'
    {# RA #}
    {% if zone.disable_ra is defined and zone.disable_ra %}
      set service router-advert interface {{ interface }} no-send-advert
    {% endif %}
    set service router-advert interface {{ interface }} prefix ::/64 deprecate-prefix
    set service router-advert interface {{ interface }} prefix ::/64 preferred-lifetime '600'
    set service router-advert interface {{ interface }} prefix ::/64 valid-lifetime '7200'
    set service router-advert interface {{ interface }} name-server '{{ settings.ip.ulaPrefix }}:{{ zone.vlan }}::1'
    {# mDNS #}
    {% if zone.mdns_repeater is defined %}
      set service mdns repeater interface '{{ interface }}'
    {% endif %}
    {# DHCP Server #}
    set service dhcp-server shared-network-name {{ zoneName }} authoritative
    set service dhcp-server shared-network-name {{ zoneName }} description '{{ zone.name }}'
    {% if interface == "br0" %}
      {# FIXME: Disable DHCP management pool on br0, because Kea DHCP is full of shit. Track:
      https://gitlab.isc.org/isc-projects/kea/-/issues/1117
      https://gitlab.isc.org/isc-projects/kea/-/issues/1738
      https://github.com/isc-projects/kea/pull/119 #}
      set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 disable
    {% endif %}
    set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 subnet-id '{{ zone.vlan + 1}}'
    set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 option default-router '192.168.{{ zone.vlan }}.1'
    set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 option name-server '192.168.{{ zone.vlan }}.1'
    set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 option domain-name 'h.{{ settings.domain_enc }}'
    set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 range default start '192.168.{{ zone.vlan }}.100'
    set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 range default stop '192.168.{{ zone.vlan }}.254'
  {% endif %}
{% endfor %}

{# IPv6 public prefix #}
set interfaces ethernet {{ settings.zones.wan.interface }} dhcpv6-options pd 0 length '56'
