{% import "fw_rules.j2" as fwRules with context %}
{% include "system.j2" %}

{% include "interfaces.j2" %}

{% include "hosts.j2" %}

{% include "nat.j2" %}

{% include "fw_zones.j2" %}

{% include "ddns.j2" %}

{% include "dns.j2" %}
