# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: windmill
spec:
  interval: 30m
  chart:
    spec:
      chart: windmill
      version: 2.0.460
      sourceRef:
        kind: HelmRepository
        name: windmill

  values:
    postgresql:
      enabled: false

    windmill:
      appReplicas: 2
      lspReplicas: 2
      mcpEnabled: false
      databaseUrlSecretName: windmill
      databaseUrlSecretKey: databaseUrl
      baseDomain: w.${domain}
      baseProtocol: https

      app:
        annotations:
          reloader.stakater.com/auto: "true"
        podSecurityContext:
          runAsUser: 1000
          runAsNonRoot: true
        resources:
          requests:
            cpu: 10m
            memory: 300Mi
        affinity:
          podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              - topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: windmill-app

      lsp:
        annotations:
          reloader.stakater.com/auto: "true"
        podSecurityContext:
          runAsUser: 1000
          runAsNonRoot: true
        affinity:
          podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              - topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: windmill-lsp

      workerGroups:
        - name: default
          replicas: 2
          annotations:
            reloader.stakater.com/auto: "true"
          podSecurityContext:
            runAsUser: 1000
            runAsNonRoot: true
          resources:
            requests:
              memory: 1028Mi
              cpu: 50m
            limits:
              memory: 2048Mi
              cpu: 1000m
            affinity:
              podAntiAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  - topologyKey: kubernetes.io/hostname
                    labelSelector:
                      matchLabels:
                        app.kubernetes.io/name: windmill-workers
                        workerGroup: default
        - name: native
          replicas: 2
          annotations:
            reloader.stakater.com/auto: "true"
          podSecurityContext:
            runAsUser: 1000
            runAsNonRoot: true
          resources:
            requests:
              memory: 128Mi
              cpu: 50m
            limits:
              memory: 256Mi
              cpu: 200m
            affinity:
              podAntiAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  - topologyKey: kubernetes.io/hostname
                    labelSelector:
                      matchLabels:
                        app.kubernetes.io/name: windmill-workers
                        workerGroup: native

    ingress:
      className: internal
