# yaml-language-server: $schema=https://schemaz.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: e1000e-fix
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  values:
    controllers:
      e1000e-fix:
        type: daemonset

        containers:
          app:
            image:
              repository: ghcr.io/nicolaka/netshoot
              tag: v0.14

            command: ["/bin/bash", "-c"]

            # Mitigating issues: https://github.com/siderolabs/talos/issues/8935
            args:
              - |
                find /sys/class/net/*/device/driver/module/drivers -maxdepth 1 -path "*e1000e*" | \
                awk -F'/' '{print $5}' | \
                xargs -I% nsenter --mount=/host/proc/$(pidof /usr/local/bin/kubelet)/ns/mnt \
                                  --net=/host/proc/$(pidof /usr/local/bin/kubelet)/ns/net \
                                  -- sh -c "
                                    echo '% - BEFORE' && \
                                    echo '==========' && \
                                    ethtool -k % && \
                                    echo '==========' && \
                                    echo 'Disabling offload for % ...' && \
                                    ethtool -K % tso off && \
                                    echo '==========' && \
                                    echo '% - AFTER' && \
                                    echo '==========' && \
                                    ethtool -k % && \
                                    echo '=========='
                                  " && \
                sleep infinity

            securityContext:
              privileged: true

            resources:
              requests:
                cpu: 10m
              limits:
                memory: 10Mi

    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostNetwork: true
      hostPID: true
      nodeSelector:
        feature.node.kubernetes.io/e1000e: "true"

    persistence:
      procfs:
        type: hostPath
        hostPath: /proc
        globalMounts:
          - path: /host/proc
            readOnly: true

      netfs:
        type: hostPath
        hostPath: /sys
        globalMounts:
          - path: /host/net
            readOnly: true
