# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname sonarr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  path: kubernetes/main/apps/media/sonarr/app
  interval: 10m
  prune: false # revert to true
  wait: true
  sourceRef:
    kind: GitRepository
    name: ops
  dependsOn:
    - name: external-secrets-stores
    - name: longhorn
    - name: volsync
  postBuild:
    substitute:
      app: *appname
