. {
  errors
  log
  reload
  loadbalance
  prometheus :9153
  cache
  local
  hosts /etc/hosts h.{{ settings.domain_enc }} {{ settings.domain_enc }} {
    fallthrough
  }
  forward {{ settings.domain_enc }} 192.168.40.62 {
    prefer_udp
    next SERVFAIL NXDOMAIN
  }
  forward . tls://1.1.1.1 tls://1.0.0.1 tls://2606:4700:4700::1111 tls://2606:4700:4700::1001 {
    tls_servername cloudflare-dns.com
    next SERVFAIL
  }
  forward . tls://8.8.8.8 tls://8.8.4.4 tls://2001:4860:4860::8888 tls://2001:4860:4860::8844 {
    tls_servername dns.google
  }
}
