:80 {
  log

  handle /livez {
    respond "OK" 200
  }

  handle / {
    root /storage/output

    @dbi header user-agent DBI
    file_server @dbi {
      index dbi.html
    }

    @tinfoil {
      header theme *
      header hauth *
      header uauth *
    }
    file_server @tinfoil {
      index tinfoil.json
    }

    file_server {
      index list.html
    }
  }

  handle /* {
    root /storage/roms

    file_server
  }
}
