apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: seerr-cache
  labels:
    app.kubernetes.io/name: seerr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn
