# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: node-red
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  data:
    - secretKey: NODE_RED_CREDENTIAL_SECRET
      remoteRef:
        key: node-red
        property: credential_secret

    - secretKey: NODE_RED_OIDC_CLIENT_SECRET
      remoteRef:
        key: authelia
        property: oidc_secret_nodered_plain
