# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app

  values:
    controllers:
      jellyfin:
        pod:
          resourceClaims:
            - name: gpu
              resourceClaimTemplateName: jellyfin-gpu

        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.3

            env:
              TZ: Europe/Berlin

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
              readiness: *probes
              startup: *probes

            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
                memory: 100Mi
              limits:
                memory: 8Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: gpu.intel.com/device-id.0300-3ea5.present
                    operator: In
                    values:
                      - "true"
            - weight: 50
              preference:
                matchExpressions:
                  - key: gpu.intel.com/device-id.0300-1916.present
                    operator: In
                    values:
                      - "true"

    service:
      app:
        ports:
          http:
            port: *port

    ingress:
      app:
        className: internal
        hosts:
          - host: jf.${domain}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: jellyfin
        globalMounts:
          - path: /config

      cache:
        existingClaim: jellyfin-cache
        globalMounts:
          - path: /config/metadata

      tmpfs:
        type: emptyDir
        advancedMounts:
          jellyfin:
            app:
              - path: /cache
                subPath: cache
              - path: /config/log
                subPath: log
              - path: /tmp
                subPath: tmp

      media:
        existingClaim: media
        globalMounts:
          - path: /media/library
            subPath: library
            readOnly: true
