# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app booklore
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app

  values:
    controllers:
      booklore:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/booklore-app/booklore
              tag: v2.0.1

            command:
              - java
            args:
              - -jar
              - /app/app.jar

            envFrom:
              - secretRef:
                  name: booklore

            env:
              TZ: Europe/Berlin

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/healthcheck
                    port: &port 6060
              readiness: *probes
              startup: *probes

            resources:
              requests:
                cpu: 50m
                memory: 500Mi
              limits:
                memory: 2Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node.longhorn.io/create-default-disk
                    operator: In
                    values:
                      - "true"
                      - config

    service:
      app:
        ports:
          http:
            port: *port

    ingress:
      app:
        className: internal
        hosts:
          - host: books.${domain}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      data:
        existingClaim: booklore
        globalMounts:
          - path: /app/data

      books:
        type: nfs
        server: nas.${domain}
        path: /mnt/fast/books
        globalMounts:
          - path: /books
            subPath: books
          - path: /bookdrop
            subPath: bookdrop

      tmp:
        type: emptyDir
