# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app

  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          dnsdist:
            image:
              repository: docker.io/powerdns/dnsdist-19
              tag: 1.9.11

            restartPolicy: Always

          gluetun:
            dependsOn:
              - dnsdist

            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.1

            restartPolicy: Always

            # https://github.com/qdm12/gluetun-wiki/blob/main/setup/advanced/kubernetes.md#adding-ipv6-rule--file-exists
            lifecycle:
              postStart:
                exec:
                  command:
                    - "/bin/sh"
                    - "-c"
                    - "(ip rule del table 51820; ip -6 rule del table 51820) || true"

            env:
              DOT: "off"
              DNS_ADDRESS: "127.0.0.2"
              VPN_SERVICE_PROVIDER: protonvpn
              VPN_TYPE: wireguard
              PORT_FORWARD_ONLY: on
              VPN_PORT_FORWARDING: on
              VPN_PORT_FORWARDING_PROVIDER: protonvpn
              SERVER_COUNTRIES: Switzerland
              UPDATER_PERIOD: 12h
              FIREWALL_INPUT_PORTS: 8080,8888
              FIREWALL_OUTBOUND_SUBNETS: 10.96.0.0/12,10.244.0.0/16 # k8s
              HTTP_CONTROL_SERVER_AUTH_CONFIG_FILEPATH: &gluetunAuthPath /gluetun/auth.toml
              HTTPPROXY: on
              HTTPPROXY_USER: user

            envFrom:
              - secretRef:
                  name: qbittorrent

            resources:
              limits:
                squat.ai/tun: "1"

            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                add:
                  - NET_ADMIN

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.3

            env:
              TZ: Europe/Berlin
              UMASK: "022"
              QBT_WEBUI_PORT: &port 8080

            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes

            resources:
              requests:
                cpu: 40m
                memory: 512Mi
              limits:
                memory: 4Gi

            securityContext:
              runAsUser: 2000
              runAsGroup: 2000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

          port-forward:
            image:
              repository: ghcr.io/bjw-s-labs/gluetun-qb-port-sync
              tag: 0.0.4@sha256:6060da1978c5ec8ea1cad56d8538f35b504b1dcb3fc9845f1f69b18d1b36020a

            env:
              GLUETUN_CONTROL_SERVER_HOST: localhost
              GLUETUN_CONTROL_SERVER_PORT: 8000
              GLUETUN_CONTROL_SERVER_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: qbittorrent
                    key: GLUETUN_CONTROL_SERVER_API_KEY
              QBITTORRENT_HOST: localhost
              QBITTORRENT_WEBUI_PORT: *port
              CRON_ENABLED: true
              CRON_SCHEDULE: "*/5 * * * *"
              LOG_TIMESTAMP: false

            securityContext:
              runAsUser: 2000
              runAsGroup: 2000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      terminationGracePeriodSeconds: 120
      securityContext:
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: *port

      proxy:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.40.65
        ports:
          http:
            port: 8888

    ingress:
      app:
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/auth-url: http://authelia.auth.svc.cluster.local/api/authz/auth-request
          nginx.ingress.kubernetes.io/auth-signin: https://auth.${domain}?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
        hosts:
          - host: qbittorrent.${domain}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: qbittorrent
        advancedMounts:
          qbittorrent:
            app:
              - path: /config
            gluetun:
              - path: /gluetun
                subPath: gluetun

      empty-config:
        type: emptyDir
        advancedMounts:
          qbittorrent:
            port-forward:
              - path: /config

      gluetun-auth:
        type: secret
        name: qbittorrent-gluetun
        advancedMounts:
          qbittorrent:
            gluetun:
              - path: *gluetunAuthPath
                subPath: auth.toml

      dnsdist:
        type: configMap
        identifier: config
        advancedMounts:
          qbittorrent:
            dnsdist:
              - path: /etc/dnsdist/dnsdist.conf
                subPath: dnsdist.conf
                readOnly: true

      tmp:
        type: emptyDir

      complete:
        existingClaim: media
        globalMounts:
          - path: /media/downloads/qbittorrent/complete
            subPath: downloads/qbittorrent/complete

      incomplete:
        type: custom
        volumeSpec:
          ephemeral:
            volumeClaimTemplate:
              spec:
                storageClassName: openebs-hostpath
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 100Gi

    configMaps:
      config:
        data:
          dnsdist.conf: |-
            -- udp/tcp dns listening
            setLocal("127.0.0.2:53", {})

            -- K8S DNS
            newServer({
              address = "10.96.0.10",
              pool = "k8s",
              healthCheckMode = "lazy",
              lazyHealthCheckMode = 'TimeoutOnly',
            })

            -- CloudFlare DNS over TLS
            newServer({
              address = "1.1.1.1:853",
              tls = "openssl",
              subjectName = "cloudflare-dns.com",
              validateCertificates = true,
              healthCheckMode = "lazy",
              lazyHealthCheckMode = 'TimeoutOnly',
            })
            newServer({
              address = "1.0.0.1:853",
              tls = "openssl",
              subjectName = "cloudflare-dns.com",
              validateCertificates = true,
              healthCheckMode = "lazy",
              lazyHealthCheckMode = 'TimeoutOnly',
            })

            -- Routing rules
            addAction('cluster.local', PoolAction('k8s'))
