# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app recyclarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app

  values:
    controllers:
      recyclarr:
        type: cronjob

        cronjob:
          schedule: "@daily"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 8.3.2

            args:
              - sync

            env:
              COMPlus_EnableDiagnostics: "0"

            envFrom:
              - secretRef:
                  name: recyclarr

            resources:
              requests:
                cpu: 5m
                memory: 40Mi
              limits:
                memory: 300Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node.longhorn.io/create-default-disk
                    operator: In
                    values:
                      - "true"
                      - config

    persistence:
      config:
        existingClaim: recyclarr

      config-logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs

      tmp:
        type: emptyDir

      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/recyclarr.yml
            subPath: recyclarr.yml
            readOnly: true

    configMaps:
      config:
        data:
          recyclarr.yml: |-
            # yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
            sonarr:
              sonarr_main:
                base_url: http://sonarr.media.svc.cluster.local:8989
                api_key: !env_var SONARR_API_KEY

                delete_old_custom_formats: true

                quality_profiles:
                  - name: WEB-1080p
                    trash_id: 72dae194fc92bf828f32cde7744e51a1
                    reset_unmatched_scores:
                      enabled: true

                  - name: HD Bluray + WEB (GER)
                    trash_id: dca7e5e9e99c703bcbdaaa471dd40e98
                    reset_unmatched_scores:
                      enabled: true

                  - name: WEB-2160p
                    trash_id: c4cadd6b35b95f62c3d47a408e53e2f7
                    reset_unmatched_scores:
                      enabled: true

                  - name: UHD Bluray + WEB (GER)
                    trash_id: 3b0fa37fddaaefc931b75f2889d4b4f5
                    reset_unmatched_scores:
                      enabled: true

                custom_formats:
                  # Wanted
                  - trash_ids:
                      - 7c3a61a9c6cb04f52f1544be6d44a026 # DV (w/o HDR fallback)
                    assign_scores_to:
                      - name: WEB-2160p
                      - name: UHD Bluray + WEB (GER)

                  # Unwanted
                  - trash_ids:
                      - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups
                      - 82d40da2bc6923f41e14394075dd4b03 # No-RlsGroup
                      - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated
                      - 06d66ab109d4d2eddb2794d21526d140 # Retags
                    assign_scores_to:
                      - name: WEB-1080p
                      - name: HD Bluray + WEB (GER)
                      - name: WEB-2160p
                      - name: UHD Bluray + WEB (GER)

            radarr:
              radarr_main:
                base_url: http://radarr.media.svc.cluster.local:7878
                api_key: !env_var RADARR_API_KEY

                delete_old_custom_formats: true

                quality_profiles:
                  - name: SQP-1 (2160p)
                    trash_id: 5128baeb2b081b72126bc8482b2a86a0
                    reset_unmatched_scores:
                      enabled: true

                custom_formats:
                  # Wanted
                  - trash_ids:
                      - 570bc9ebecd92723d2d21500f4be314c # Remaster
                      - eca37840c13c6ef2dd0262b141a5482f # 4K Remaster
                      - e0c07d59beb37348e975a930d5e50319 # Criterion Collection
                      - 9d27d9d2181838f76dee150882bdc58c # Masters of Cinema
                      - db9b4c4b53d312a3ca5f1378f6440fc9 # Vinegar Syndrome
                      - e9001909a4c88013a359d0b9920d7bea # Theatrical Cut
                      - 957d0f44b592285f26449575e8b1167e # Special Edition
                      - 9f6cbff8cfe4ebbc1bde14c7b7bec0de # IMAX Enhanced
                    assign_scores_to:
                      - name: SQP-1 (2160p)

                  # Unwanted
                  - trash_ids:
                      - b6832f586342ef70d9c128d40c07b872 # Bad Dual Groups
                      - cc444569854e9de0b084ab2b8b1532b2 # Black and White Editions
                      - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5 # No-RlsGroup
                      - 7357cf5161efbf8c4d5d0c30b4815ee2 # Obfuscated
                      - 5c44f52a8714fdd79bb4d98e2673be1f # Retags
                      - f537cf427b64c38c8e36298f657e4828 # Scene
                    assign_scores_to:
                      - name: SQP-1 (2160p)
