# yaml-language-server: $schema=https://schemaz.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname n8n
  namespace: &namespace automation
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  path: kubernetes/apps/automation/n8n/app
  interval: 10m
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: external-secrets-stores
      namespace: secrets
    - name: longhorn
      namespace: longhorn-system
    - name: volsync
      namespace: system
  components:
    - ../../../../components/volsync
  postBuild:
    substitute:
      app: *appname
