# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app booklore
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app

  values:
    controllers:
      booklore:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          mariadb:
            image:
              repository: docker.io/library/mariadb
              tag: 12.2.2-noble

            restartPolicy: Always

            env:
              MARIADB_DATABASE: booklore
              MARIADB_USER: booklore
              MARIADB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore
                    key: mariadb_password
              MARIADB_ROOT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore
                    key: mariadb_root_password

            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - bash
                      - -c
                      - |-
                        mariadb-admin ping --socket=/run/mysqld/mysqld.sock --user=root --password=$${MARIADB_ROOT_PASSWORD}

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
              seccompProfile:
                type: Unconfined

          wait-for-mariadb:
            image:
              repository: wait4x/wait4x
              tag: 3.6.0

            args:
              - mysql
              - booklore:$(MARIADB_PASSWORD)@tcp(localhost:3306)/booklore

            env:
              MARIADB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore
                    key: mariadb_password

        containers:
          app:
            image:
              repository: ghcr.io/booklore-app/booklore
              tag: v2.0.3

            command:
              - java
            args:
              - -jar
              - /app/app.jar

            env:
              TZ: Europe/Berlin
              DATABASE_URL: jdbc:mariadb://localhost:3306/booklore
              DATABASE_USERNAME: booklore
              DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore
                    key: mariadb_password

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/healthcheck
                    port: &port 6060
              readiness: *probes
              startup: *probes

            resources:
              requests:
                cpu: 50m
                memory: 500Mi
              limits:
                memory: 2Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node.longhorn.io/create-default-disk
                    operator: In
                    values:
                      - "true"
                      - config

    service:
      app:
        ports:
          http:
            port: *port

    ingress:
      app:
        className: internal
        hosts:
          - host: books.${domain}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      data:
        existingClaim: booklore
        advancedMounts:
          booklore:
            app:
              - path: /app/data
                subPath: app
            mariadb:
              - path: /var/lib/mysql
                subPath: mysql

      media:
        existingClaim: media
        advancedMounts:
          booklore:
            app:
              - path: /books
                subPath: library/books
              - path: /bookdrop
                subPath: downloads/bookdrop

      mysqld:
        type: emptyDir
        medium: Memory
        sizeLimit: 1Mi
        advancedMounts:
          booklore:
            mariadb:
              - path: /run/mysqld

      tmp:
        type: emptyDir
        advancedMounts:
          booklore:
            app:
              - path: /tmp
                subPath: app
            mariadb:
              - path: /tmp
                subPath: mysql
