# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sockpuppetbrowser
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app

  values:
    controllers:
      sockpuppetbrowser:
        containers:
          app:
            image:
              repository: docker.io/dgtlmoon/sockpuppetbrowser
              tag: latest@sha256:01a4ab6c9b1bea143af26b864252acb6fe38631ae01cb4aa6fea7286fcbc1cf0

            env:
              TZ: Europe/Berlin
              SCREEN_WIDTH: 1920
              SCREEN_HEIGHT: 1024
              SCREEN_DEPTH: 16

            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 3000

    persistence:
      tmp:
        type: emptyDir
