machine:
  type: worker
  install:
    diskSelector:
      model: GIM128
  kubelet:
    extraConfig:
      registerWithTaints:
        - key: dedicated
          value: gameserver
          effect: NoSchedule
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: kasumi.h.{{ '{{ op://cluster/env/domain }}' }}
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    # Port 1
    match: link.driver == "igb" && mac(link.permanent_addr).endsWith(":16:4c")
