machine:
  type: controlplane
  install:
    diskSelector:
      model: KINGSTON SUV500M
  network:
    hostname: nabiki.h.{{ '{{ op://cluster/env/domain }}' }}
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: "*:41:0c"
              driver: e1000e
          mode: active-backup
        dhcp: true
        vlans:
          - vlanId: 10
            mtu: 1500
            dhcp: false
            dhcpOptions:
              routeMetric: 4096
        vip:
          ip: 192.168.40.90
  nodeLabels:
    node.longhorn.io/create-default-disk: "true"
