machine:
  type: controlplane
  install:
    diskSelector:
      model: INTEL SSDSCKJW12
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ryoga.h.{{ '{{ op://cluster/env/domain }}' }}
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "e1000e" && mac(link.permanent_addr).endsWith(":85:db")
