machine:
  type: controlplane
  install:
    diskSelector:
      model: SanDisk Extreme Pro 500GB
  nodeLabels:
    node.longhorn.io/create-default-disk: "true"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ukyo.h.{{ '{{ op://cluster/env/domain }}' }}
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "e1000e" && mac(link.permanent_addr).endsWith(":83:a5")
