# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app

  values:
    controllers:
      plex:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156

            env:
              TZ: Europe/Berlin
              PLEX_ADVERTISE_URL: https://192.168.40.64:32400,https://plex.${domain}:443
              PLEX_NO_AUTH_NETWORKS: 10.244.0.0/16

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: 32400
              readiness: *probes
              startup: *probes

            resources:
              requests:
                cpu: 100m
                memory: 300Mi
              limits:
                memory: 10Gi
                gpu.intel.com/i915: 1

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: gpu.intel.com/device-id.0300-3ea5.present
                    operator: In
                    values:
                      - "true"
            - weight: 50
              preference:
                matchExpressions:
                  - key: gpu.intel.com/device-id.0300-1916.present
                    operator: In
                    values:
                      - "true"

    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.40.64
        ports:
          http:
            port: 32400

    ingress:
      app:
        className: external
        hosts:
          - host: plex.${domain}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: plex
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server

      cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache

      logs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs

      transcode:
        type: emptyDir

      tmp:
        type: emptyDir

      media:
        existingClaim: media
        globalMounts:
          - path: /media/library
            subPath: library
            readOnly: true
