# yaml-language-server: $schema=https://schemaz.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: crunchy-postgres-operator
spec:
  url: oci://registry.developers.crunchydata.com/crunchydata/pgo
  ref:
    tag: 5.8.5
  interval: 10m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
