# yaml-language-server: $schema=https://schemaz.pages.dev/nfd.k8s-sigs.io/nodefeaturerule_v1alpha1.json
apiVersion: nfd.k8s-sigs.io/v1alpha1
kind: NodeFeatureRule
metadata:
  name: google-coral-device
spec:
  rules:
    - name: Google Coral USB Accelerator
      labels:
        google-coral: "true"
      matchFeatures:
        - feature: usb.device
          matchExpressions:
            vendor:
              op: In
              value:
                - "1a6e"
                - "18d1"
