# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname system-upgrade-controller
  namespace: flux-system
spec:
  targetNamespace: system-upgrade
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  path: kubernetes/main/apps/system-upgrade/system-upgrade-controller/app
  interval: 10m
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: ops
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname system-upgrade-controller-plans
  namespace: flux-system
spec:
  targetNamespace: system-upgrade
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
      app.kubernetes.io/component: plans
  path: kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans
  interval: 10m
  prune: true
  wait: false
  sourceRef:
    kind: GitRepository
    name: ops
  dependsOn:
    - name: system-upgrade-controller
  postBuild:
    substitute:
      # renovate: depName=ghcr.io/siderolabs/installer datasource=docker
      TALOS_VERSION: v1.10.4
      # renovate: depName=ghcr.io/siderolabs/kubelet datasource=docker
      KUBERNETES_VERSION: v1.33.1
