delete cluster
delete container
delete firewall
delete high-availability
delete interfaces
delete load-balancing
delete nat
delete nat66
delete netns
delete pki
delete policy
delete protocols
delete service
delete system
delete traffic-policy
delete vpn
delete vrf
