set container name coredns image 'docker.io/coredns/coredns:1.12.4'
set container name coredns allow-host-networks
set container name coredns volume config source '/config/dns/Corefile'
set container name coredns volume config destination '/Corefile'
set container name coredns volume hosts source '/etc/hosts'
set container name coredns volume hosts destination '/etc/hosts'
