set interfaces loopback lo

{# Generate zone interfaces #}
{% for zoneName, zone in settings.zones.items() if zone.interface is defined %}
  {% if zone.vlan is not defined %}
    {# IPv4 #}
    set interfaces ethernet {{ zone.interface }} description {{ zone.name }}
    set interfaces ethernet {{ zone.interface }} address {{ zone.address }}
  {% else %}
    {% set path = zone.interface~" vif "~zone.vlan if zone.vlan > 0 else zone.interface %}
    {% set interface = zone.interface~"."~zone.vlan if zone.vlan > 0 else zone.interface %}
    {# IPv4 #}
    set interfaces ethernet {{ path }} description {{ zone.name }}
    set interfaces ethernet {{ path }} address 192.168.{{ zone.vlan }}.1/24
    {# IPv6 from PD #}
    set interfaces ethernet {{ settings.zones.wan.interface }} dhcpv6-options pd 0 interface {{ interface }} address 1
    set interfaces ethernet {{ settings.zones.wan.interface }} dhcpv6-options pd 0 interface {{ interface }} sla-id {{ zone.vlan }}
    {# IPv6 ULA #}
    set interfaces ethernet {{ path }} address {{ settings.ip.ulaPrefix }}:{{ zone.vlan }}::1/128
    {# RA #}
    set service router-advert interface {{ interface }} prefix ::/64 valid-lifetime 86400
    set service router-advert interface {{ interface }} prefix ::/64 decrement-lifetime
    set service router-advert interface {{ interface }} prefix ::/64 deprecate-prefix
    set service router-advert interface {{ interface }} name-server {{ settings.ip.ulaPrefix }}:{{ zone.vlan }}::1
    {# DHCP Server #}
    set service dhcp-server shared-network-name {{ zoneName }} authoritative
    set service dhcp-server shared-network-name {{ zoneName }} description {{ zone.name }}
    set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 default-router 192.168.{{ zone.vlan }}.1
    set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 name-server 192.168.{{ zone.vlan }}.1
    set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 domain-name h.{{ settings.domain_enc }}
    set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 range default start 192.168.{{ zone.vlan }}.100
    set service dhcp-server shared-network-name {{ zoneName }} subnet 192.168.{{ zone.vlan }}.0/24 range default stop 192.168.{{ zone.vlan }}.254
  {% endif %}
{% endfor %}

{# IPv6 public address and prefix #}
set interfaces ethernet {{ settings.zones.wan.interface }} ipv6 address autoconf
set interfaces ethernet {{ settings.zones.wan.interface }} dhcpv6-options pd 0 length 56
