{% import "fw_rules.j2" as fwRules with context %}

{% include "clean_config.j2" %}

{% include "system.j2" %}

{% include "interfaces.j2" %}

{% include "hosts.j2" %}

{% include "nat.j2" %}

{% include "fw_zones.j2" %}
