{# Environment settings #}
set system config-management commit-revisions '100'
set system option keyboard-layout 'de'
set system syslog global facility all level 'info'
set system syslog global facility local7 level 'debug'
set system time-zone 'Europe/Berlin'

{# NTP #}
set service ntp server time.cloudflare.com
set service ntp server time.google.com
set service ntp allow-client address '0.0.0.0/0'
set service ntp allow-client address '::/0'

{# DNS (for VyOS internal use only) #}
set system name-server '1.1.1.1'
set system name-server '1.0.0.1'
set system name-server '2606:4700:4700::1111'
set system name-server '2606:4700:4700::1001'

{# Naming #}
set system domain-name 'h.{{ settings.domain_enc }}'
set system host-name 'fw'

{# System authentication #}
{# NOTICE '' around encrypted-password are required to avoid filtering this command by the module #}
set system login user vyos authentication encrypted-password '{{ settings.ssh.password_enc }}'
set system login user vyos authentication plaintext-password ''
set system login user vyos authentication public-keys private key 'AAAAC3NzaC1lZDI1NTE5AAAAIGmuAEePThJJA68KT08hJtmsyUx8MpA+8IpzbSs/pr8x'
set system login user vyos authentication public-keys private type 'ssh-ed25519'

{# Enable LLDP discovery #}
set service lldp

{# SSH settings #}
set service ssh disable-host-validation
set service ssh disable-password-authentication
