apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: talos
spec:
  version: ${TALOS_VERSION}
  serviceAccountName: system-upgrade-controller
  secrets:
    - name: system-upgrade-controller
      path: /var/run/secrets/talos.dev
      ignoreUpdates: true

  concurrency: 1
  exclusive: true

  nodeSelector:
    matchExpressions:
      - key: kubernetes.io/hostname
        operator: Exists

  tolerations:
    - key: dedicated
      operator: Exists
      effect: NoSchedule

  upgrade:
    image: ghcr.io/jfroy/tnu:0.4.3

    args:
      - --node=$(SYSTEM_UPGRADE_NODE_NAME)
      - --tag=$(SYSTEM_UPGRADE_PLAN_LATEST_VERSION)
