# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app multus
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app

  values:
    cni-plugins:
      image:
        repository: ghcr.io/home-operations/cni-plugins
        tag: 1.8.0

    multus:
      image:
        repository: ghcr.io/k8snetworkplumbingwg/multus-cni
        tag: v4.2.3
      resources:
        requests:
          cpu: 10m
        limits:
          memory: 32Mi

    cni:
      netPath: /etc/cni/net.d
      binPath: /opt/cni/bin
