apiVersion: v1alpha1
kind: HostnameConfig
hostname: ukyo.h.{{ op://cluster/env/domain }}
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
provisioning:
  diskSelector:
    match: disk.model == "SanDisk Extreme Pro 500GB"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "e1000e" && mac(link.permanent_addr).endsWith(":83:a5")
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  node.longhorn.io/create-default-disk: "true"
