# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app publish-k8s-schemas
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app

  values:
    controllers:
      publish-k8s-schemas:
        type: cronjob

        cronjob:
          schedule: "0 * * * *"
          backoffLimit: 0
          concurrencyPolicy: Replace
          successfulJobsHistory: 1

        initContainers:
          generate-schemas:
            image:
              repository: ghcr.io/bjw-s-labs/k8s-crd-extractor
              tag: 2025.10.8@sha256:18913f2044be5e0b14c22afafc2f8ed7443fc586cd469d10f8b9eee0e2bea6bb

            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 2Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/wrangler
              tag: 4.49.0@sha256:6584cb0132dfdf3d82d4f02046c827779922702299fd2e9ebb447b4dd7d7d2a1

            envFrom:
              - secretRef:
                  name: publish-k8s-schemas

            args:
              - pages
              - deploy
              - /data/crdSchemas
              - --project-name
              - schemaz

            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      restartPolicy: OnFailure
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch

    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          publish-k8s-schemas:
            generate-schemas:
              - path: /config/.datree
                subPath: data
              - path: /tmp
                subPath: tmp

            app:
              - path: /config
                subPath: config
              - path: /data
                subPath: data

    serviceAccount:
      publish-k8s-schemas: {}

    rbac:
      roles:
        publish-k8s-schemas:
          type: ClusterRole
          rules:
            - apiGroups:
                - apiextensions.k8s.io
              resources:
                - customresourcedefinitions
                - customresourcedefinitions/status
              verbs:
                - get
                - list
                - watch
            - apiGroups:
                - apiregistration.k8s.io
              resources:
                - apiservices
                - apiservices/status
              verbs:
                - get
                - list
                - watch

      bindings:
        publish-k8s-schemas:
          type: ClusterRoleBinding
          roleRef:
            identifier: publish-k8s-schemas
          subjects:
            - identifier: publish-k8s-schemas
