# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shlink-frontend
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app

  values:
    controllers:
      shlink-frontend:
        containers:
          app:
            image:
              repository: ghcr.io/shlinkio/shlink-web-client
              tag: 4.6.0

            envFrom:
              - secretRef:
                  name: shlink-frontend

            env:
              SHLINK_SERVER_URL: https://s.${domain}

            resources:
              requests:
                cpu: 10m
                memory: 15Mi
              limits:
                memory: 100Mi

            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL

            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 101
        runAsGroup: 101
        fsGroup: 101
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 8080

    ingress:
      app:
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/auth-url: http://authelia.auth.svc.cluster.local/api/authz/auth-request
          nginx.ingress.kubernetes.io/auth-signin: https://auth.${domain}?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
        hosts:
          - host: shlink.${domain}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
