# yaml-language-server: $schema=https://schemaz.pages.dev/external-secrets.io/clustersecretstore_v1.json
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: cpgo
spec:
  provider:
    kubernetes:
      remoteNamespace: database
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          namespace: database
          key: ca.crt
      auth:
        serviceAccount:
          name: external-secrets-cpgo
          namespace: database
