apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: op://cluster/flux/sops_private_key
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect
  namespace: secrets
stringData:
  1password-credentials.json: op://cluster/1password/1password-credentials.json
  token: op://cluster/1password/token
